.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}

.shop-container .section-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #1C2B35;
    text-align: center;
    margin: 2rem 0;
}

.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
    min-height: 100vh;
}