h3{
    margin: 0;
}
.product-card{
    margin: auto;
    overflow: hidden;
    height: 488px;
    width: 248px;
    border-radius: 8px;
    border: 1px solid #0e161a58;
    position: relative;
    box-shadow: 2px 2px 5px #0e161a41;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.35rem;
}
.product-card img{
    height: 236px;
    width: 236px;
    border-radius: 8px;

}

.product-card .product-description{
    position: absolute;
    bottom: 0;
    width: 100%;

}

.product-card .product-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin-top: 1rem;
    margin-top: 2rem;
    color: #0E161A;
}
.product-card h3{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.004em;
    text-align: left;
    margin-bottom: 0.5rem;
}

.product-card button{
    width: 100%;
    padding: 0.75rem 0;
    border: none;
    background-color: #FBDCAE;
    font-size: 1rem;    
}

.product-card button:hover{
    background-color: orange;
    cursor: pointer;
}

.product-card button .icons{
    font-size: 1rem;
}

.product-card .content{
    margin-left: 0.5rem;
}

.product-card .rating-section{
    margin-bottom: 0.25rem;
}
.product-card .ratings{
    color: orangered;
}

.show{
    display: block;
}

.hidden{
    display: none;
}