.navbar{
    z-index: 999;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25% 8%;
    background-color: #1C2B35;
    box-shadow: 2px 2px 8px gray;
}
.navbar .nav-links{
    display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #f9f9f9;
    margin-left: 2rem;
}
.navbar ul li a:hover{
    color: orange;
}
.navbar .icons{
    font-size: 1.2rem;
    margin-right: .5rem;
}
.navbar .menu-toggle-btn{
    display: none;
    color: #f9f9f9;
    font-size: 2.5rem;
}
.navbar .menu-toggle-btn:hover{
    cursor: pointer;
    color: orange;
}



@media screen and (max-width:855px) {
    .navbar{
        position: relative;
    }
    .navbar .drop-down a{
        display: block;
        padding: 10px 0;
        border-left: 5px solid transparent;
    }
    .navbar .drop-down a:hover{
        margin-left: 0;
        padding-left: 3rem;
        background-color: #021e3169;
        border-left: 5px solid orange;
    }
    .navbar .nav-links{
        z-index: 999;
        position: absolute;
        top: -1000%;
        left: 0;
        background-color: #1C2B35;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        transition: all 0.2s;
        
    }
    .navbar .drop-down{
        z-index: 1;
        position: absolute;
        top: 75%;
        left: 0;
        background-color: #1C2B35;
        box-shadow: 2px 2px 12px #1C2B35;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        transition: all 0.5s;
    }
    .navbar .menu-toggle-btn{
        display: block;
    }
    .hidden{
        display: none;
    }
    .show{
        display: block;
    }
}